NOTION_TOKEN = ''
WEREAD_COOKIE = ''
DATABASE_ID = ''

BOOK_BLACKLIST = [
    '从红月开始',
    '修真聊天群（聊天群的日常生活）',
    '第一序列',
    '我真没想重生啊',
    '我有一座恐怖屋',
    '大王饶命',
    '我师兄实在太稳健了',
    '死而替生',
    '中医许阳',
    '这游戏也太真实了',
    '家父汉高祖',
    '吕布的人生模拟器',
    '学霸的黑科技系统',
    '黎明之剑',
    '我的一天有48小时',
    '明克街13号',
]
